.hck-fetch-result {
  color: #333;
  background-color: #ccc;
  border-radius: 15px;
  width: 90%;
  height: 75px;
  line-height: 75px;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;
  text-align: center;
}

.hck-fetch-result-ok {
  color: #fff;
  background-color: #00cc00;
}

.hck-fetch-result-nok {
  color: #fff;
  background-color: #cc0000;
}
